/*FAIRE UNE ENTETE*/

/*STYLE DU MENU VERTICAL*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: inline-block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

/*STYLE DU TITRE*/

h1 {
    background-color: red;
    color: orange;
}

/*CLASSE DU MENU et ZONE DE CONTENU*/

.zoneMenu {
  display: inline-block;
  border: 1px solid black;
  margin: 10px;
}

.zoneContenu {
  display: inline-block;
  width: 50%;
  border: 1px solid black;
  vertical-align: top;
  margin: 10px;
}

/*CLASSE de texte en gras aligné à droite*/
.bolddown {
  display:block;
  font-weight: bold;
  font-size: 30px;
}
