/*FAIRE UNE ENTETE*/

/*STYLE DU MENU VERTICAL*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: inline-block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

/*STYLE DU TITRE*/

h1 {
    background-color: red;
    color: orange;
}

/*CLASSE DU MENU et ZONE DE CONTENU*/

.zoneMenu {
  display: inline-block;
  border: 1px solid black;
  margin: 10px;
}

.zoneContenu {
  display: inline-block;
  width: 75%;
  border: 1px solid black;
  vertical-align: top;
  margin: 10px;
}

/*CLASSE de texte en gras aligné à droite*/
.bolddown {
  display:block;
  font-weight: bold;
  font-size: 30px;
}

/*CLASSE POUR LA TABLE DES DÉTAILS*/
.UserDetails {
  border: 1px solid white;
  white-space: nowrap;
  background-color: black;
  color: white;
  font: 20px arial, sans-serif;
}

/*CLASSE POUR ALIGNÉ LE CONTENU VERS LE HAUT*/
.ModifyTop {
  vertical-align: top;
}

/*pour letat du system*/
#tablesysetat {
  border: 1px solid black;
}

.etatsys {
  border: 1px solid black;
  font-size: 35px;
}

/*pour le formulaire créé un user*/
.formCreate {
  width:225px;
  display:block;
  font: 15px arial, sans-serif;
}
/*pour la liste des département*/
.formDept {
  width:245px;
  font: 15px arial, sans-serif;
}
/*pour la liste des département*/
.rowMiddle {
  display:inline;
  align:center;
  padding-left:120px;
}
/*pour le formulaire créé un user*/
.formPassword {
  display:inline-block;
  vertical-align:top;
}

/*POUR LE FORMULAIRE CHAMNGEMENT MOT DE PASSE USER*/
.formchgmdp {
  border-spacing: 13px;
  border-collapse: separate;
}

/*=================== PAGE INDEX/LOGIN ====================*/
#login {
  width: 100%;
  height: 100%;
  background: linear-gradient(#6380b0, #20304a); /* Standard syntax */
}

#titlelogin {
  background : rgba(0,0,0,0);
  color: white;
}

#userpass {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
