/*FAIRE UNE ENTETE*/

/*BACKGROUND DE TOUTES LES PAGES*/
html {
  height: 100%;
  width: 100%;
}
.backgroundDF {
  width: 100%;
  height: 100%;
  background: linear-gradient(#6380b0, #20304a); /* Standard syntax */
}
/* STYLE DES BOUTONS */
.button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/*STYLE DU MENU VERTICAL*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: #f1f1f1;
}

li a {
    display: inline-block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

/*STYLE DES TITRES*/

h1,h2,h3{
  background : rgba(0,0,0,0);
  color: white;
  margin-left: 15px;
}

/*CLASSE DU MENU et ZONE DE CONTENU*/

.zoneMenu {
  display: inline-block;
  margin: 10px;
  background-color: black;
  border:8px groove white;
}

.zoneContenu {
  display: inline-block;
  width: 75%;
  vertical-align: top;
  margin: 10px;
}

/*CLASSE de texte en gras aligné à droite*/
.bolddown {
  display:block;
  font-weight: bold;
  font-size: 30px;
}

/*CLASSE POUR LA TABLE DES DÉTAILS*/
.UserDetails {
  border: 1px solid white;
  white-space: nowrap;
  background-color: black;
  color: white;
  font: 14px arial, sans-serif;
}

/*CLASSE POUR ALIGNÉ LE CONTENU VERS LE HAUT*/
.ModifyTop {
  vertical-align: top;
}

/*pour letat du system*/
#tablesysetat {
  border: 1px solid white;
}

.etatsys {
  font-size: 35px;
  color:white;
  border:8px groove white;
}

/*pour le formulaire créé un user*/
.formCreate {
  width:225px;
  display:block;
  font: 15px arial, sans-serif;
}
/*pour la liste des département*/
.formDept {
  width:245px;
  font: 15px arial, sans-serif;
}
/*pour la liste des département*/
.rowMiddle {
  display:inline;
  align:center;
  padding-left:120px;
}
/*pour le formulaire créé un user*/
.formPassword {
  display:inline-block;
  vertical-align:top;
}
/*pour le formulaire modifier le quota*/
.formQuota {
  display:inline-block;
  align:center;
}
/*POUR LE FORMULAIRE CHAMNGEMENT MOT DE PASSE USER*/
.formchgmdp {
  border-spacing: 13px;
  border-collapse: separate;
}
/* STYLE POUR LES LABELS */
label
{
  background-color: black;
  color: white;
  padding: 5px;
  font-family: Georgia,serif;
  font-size: 16px;
  display:block;
  width:auto;
  max-width: 235px;
}
/* STYLE POUR LE MESSAGE D'ACCEUIL*/
p
{
  margin: 2cm 4cm 3cm 4cm;
  font-family: Georgia,serif;
  font-size: 40px;
  color: white;
  font-weight: bold;
}
/*STYLE pour l'historique de password*/
.histoPW
{
  font-size: 16px;
  color:white;
  border:8px groove white;
}

/* STYLE POUR AFFICHER LES QUOTAS */
.large
{
    color:black;
}
